*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit, sans-serif;
}
* a{
    text-decoration: none;
}
* li{
    list-style: none;
}
.container{
    position: relative;
    min-height: 100vh;
}

.bg{
    width: 100%;
    height: 100%;
    position: relative;
}
.bg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.thailandholidaygroup.com/app/uploads/2020/09/suratthani_519888235-scaled.jpg");
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(35%);
}

.menu{
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 2rem;
    color:white;
}
.menu ul{
    display: flex;
}
.menu ul li{
    margin-left: 0 17px;
}
.menu ul li a{
    color: white;
    font-size: 1.2rem;
    padding: 7px 15px;
    transition: 0.3s;
}
.content{
    position: relative;
    width: 85%;
    margin: 0 auto;
    padding-top: 5vh;
    color: white;
    text-align: center;
}

.content .header h3 i{
    color: crimson;
}

.content h3{
    font-size: 4rem;
    margin-bottom: 10px;
}

.content h1{
    font-size: 2.6rem;
    margin-bottom: 10px;
}
.content img{
    border-radius: 25px;
    transition: 0.4s;
}
.content img:hover{
    cursor: pointer;
    transform: scale(1.05);
}